.aprobado{

    background-color: #E9FCFA;
    padding: 8px;
    margin-bottom: 10px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.rechazado{

    background-color: #FA206A;
    padding: 8px;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.disabled {
    pointer-events:none; 
    opacity:0.6;        
}



 
